.forecast-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1000;
}

.forecast-window {
  position: fixed;
  top: 0%;
  left: 50%;
  width: 80%;
  max-width: 900px;
  height: 65%;
  transform: translate(-50%, 25%);
  background-color: #fff;
  padding: 25px;
  z-index: 1000;
  border-radius: 5px;
  min-height: 200px;
  overflow: auto;
}

.forecast-top {
  top: -5px;
  right: -5px;
  text-align: end;
}

.forecast-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 5px;
  padding: 3px 6px;
  border-radius: 10px;
  border: 1px solid;
}

.forecast-main {
  height: 150px;
}

.cur-ctr {
  display: flex;
  justify-content: space-between;
}

.forecast-info {
  padding: 20px;
}

.cur-date, .city-name {
  font-size: 24px;
  padding: 10px 0px;
}

.fc-cur-temp {
  width: 200px;
  font-size: 36px;;
}

.forecast-daily-title, .forecast-hourly-title {
  font-size: 20px;
}

.forecast-cards {
  display: flex;
  overflow: scroll;
  padding: 5px 0px;
}

.forecast-card-ctr {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  width: 120px;
}

.fc-low-high {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.forecast-temp {
  font-size: 24px;
  text-align: center;
}

.fc-date {
  font-size: 20px;
  text-align: center;
}

.forecast-icon-ctr {
  margin: auto;
}

