.forecast-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1000;
}

.forecast-window {
  position: fixed;
  top: 0%;
  left: 50%;
  width: 80%;
  height: 65%;
  transform: translate(-50%, 25%);
  background-color: #fff;
  padding: 25px;
  z-index: 1000;
  border-radius: 5px;
  min-height: 200px;
  overflow: auto;
}